*{
    margin: 0px;
    padding: 0px;
}
/* header styling starts */
header{
    background-image: url(images/c-d-x-PDX_a_82obo-unsplash.jpg);
    background-color: rgb(23, 23, 49);
    background-blend-mode: overlay;
    background-size: cover;
    border-bottom: 2px solid rgb(241, 203, 131);
    height: 100vh;
}
header h1{
    color: rgb(252, 193, 84);
    font-size: 35px;
    font-family: cursive;
    text-shadow: 0 0 5px rgb(108, 117, 56);
    padding-left: 50px;
    padding-top: -50px;
}
header span{
    color: rgb(252, 248, 248);
    font-size: 53px;
}
nav{
    float: right;
    margin-top: -40px;
    margin-right: 60px;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.li a:hover{
    color: rgb(252, 175, 33);
}
.active{
    color: rgb(252, 175, 33);
}
nav ul li{
    display: inline;
    padding: 5px;
    margin-right: 30px;
}
.land{
    line-height: 50px;
}
.land h1{
    padding-top: 170px;
    padding-right: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgb(247, 245, 245);
}
.land p{
    color: rgb(223, 221, 221);
    padding-left: 50px;
    font-family: cursive;
}
.btn{
    border: none;
    border: 1px solid white;
    border-radius: 20px;
    padding: 15px 55px;
    color: white;
    font-weight: bold;
    font-family: cursive;
    background-color: rgb(255, 217, 0);
    margin-top: 50px;
    margin-left: 50px;
    transition: 0.5s;
}
.btn:hover{
    color: rgb(189, 161, 7);
    background-color: #ffffff;
    transition: 0.7s;
    border: 0.5px solid orange;
}
/* header styling ends */

/* About styling */
.intro h1{
    text-align: center;
    color: rgb(250, 177, 41);
    text-shadow: 0 0 5px rgb(95, 93, 93);
    padding-top: 55px;
    font-size: 60px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
.intro p{
    text-align: center;
    width: 60%;
    font-size: 15px;
    padding-left: 250px;
    color: rgb(100, 99, 99);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    padding-top: 50px;

}
.intro-cards{
    display: flex;
    margin-left: 50px;
    margin-top: 70px;
}
.img-cards img{
    width: 400px;
    box-shadow: 0 0 4px gray;
    border-radius: 3px;
}
.img-cards .btn1{
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    color: white;
    transition: 0.4s;
    background-color: rgb(116, 205, 240);
}
.img-cards .btn1:hover{
    color: rgb(116, 205, 240);
    background-color: white;
    border: 1px solid rgb(116, 205, 240);
    transition: 0.4s;
    box-shadow: 0 0 5px rgb(116, 205, 240) ;
}
.img-cards .btn2{
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    color: white;
    transition: 0.4s;
    background-color: rgb(250, 224, 75);
}
.img-cards .btn2:hover{
    color: rgb(250, 224, 75);
    background-color: white;
    border: 1px solid rgb(250, 224, 75);
    transition: 0.4s;
    box-shadow: 0 0 5px rgb(250, 224, 75);
}
.img-cards .btn3{
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    color: white;
    transition: 0.4s;
    background-color: palevioletred;
}
.img-cards .btn3:hover{
    color: palevioletred;
    background-color: white;
    border: 1px solid palevioletred;
    transition: 0.4s;
    box-shadow: 0 0 5px palevioletred;
}
/* About styling end */

/* showcase styling starts */
.show{
    display: flex;
    margin-top: 100px;
}
.show img{
    width: 40%;
    height: 64vh;
    margin-right: 50px;
    border-radius: 5px;
    box-shadow: 0 0 9px gray;
}
.show-text{
    width: 70%;
    padding-left: 80px;
    padding-top: 50px;
}
.show-text h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(68, 67, 67);
    padding-top: 50px;
    /* padding-left: 150px; */
}
.show-text p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(131, 130, 130);
    line-height: 30px;
    font-size: 14px;
    width: 80%;
    padding-top: 10px;
    /* border-bottom: 1.5px dashed orange; */
}
.show-text .butn1{
    margin-top: 50px;
    padding: 20px 40px;
    font-size: 25px;
    border: 1px solid rgb(17, 17, 253);
    color: rgb(8, 8, 255);
    background-color: rgb(236, 234, 234);
    border-radius: 5px;
    transition: 0.5s;
}
.show-text .butn1:hover{
    background-color: rgb(93, 93, 247);
    color: white;
    transition: 0.5s;
    border: none;
    box-shadow: 0 0 5px rgb(56, 56, 56);
}
.show-reverse{
    display: flex;
    margin-top: 100px;
    /* flex-direction: column-reverse; */
}
.show-reverse img{
    width: 40%;
    height: 64vh;
    margin-right: -27px;
    margin-left:  80px;
    border-radius: 5px;
    box-shadow: 0 0 9px gray;
}
.show-reverse-text{
    width: 75%;
    padding-left: 165px;
    padding-top: 50px;
}
.show-reverse-text h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(68, 67, 67);
    padding-top: 50px;
}
.show-reverse-text p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(131, 130, 130);
    line-height: 30px;
    font-size: 14px;
    width: 80%;
    padding-top: 10px;
    /* border-bottom: 1.5px dashed orange; */
}
.show-reverse-text .butn1{
    margin-top: 50px;
    padding: 20px 40px;
    font-size: 25px;
    border: 1px solid rgb(17, 17, 253);
    color: rgb(8, 8, 255);
    background-color: white;
    border-radius: 5px;
    transition: 0.5s;
}
.show-reverse-text .butn1:hover{
    background-color: rgb(93, 93, 247);
    color: white;
    transition: 0.5s;
    border: none;
    box-shadow: 0 0 5px rgb(56, 56, 56);
}
.images p{
    background-color: rgb(214, 213, 213);
    height: 10vh;
    color: rgb(148, 147, 147);
    text-align: center;
    padding: 10px;
}
div.img {
    margin: 50px;
    background-color: white;
    width: 91.7%;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
}	
div.img img {
    width: 380px;
    height: auto;
    margin-left: 30px;
    border-radius: 10px;
}
.pad{
    margin-top: 30px;
}
.align{
    width: 100%;
}
div.describ {
    padding: 10px;
    text-align: center;
    width: 350px;
    padding-top: 20px;
}
.describ h3{
    color: rgb(94, 93, 93);
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
}
.describ button{
    margin-top: 10px;
    margin-left: 60px;
    padding: 20px 25px;
    color: rgb(134, 133, 133);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7px;
    border: none;
    color: rgb(43, 43, 250);
    border: 1px solid rgb(87, 87, 253);
    transition: 0.5s;
}
.describ button:hover{
    background-color: rgb(156, 188, 248);
    border: rgb(167, 167, 250);
    color: white;
    box-shadow: 0 0 8px rgb(76, 76, 250);
    transition: 0.5s;
}
.contact{
    background-image: url(images/c-d-x-PDX_a_82obo-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(17, 17, 29, 0.87);
    background-blend-mode: overlay;
    padding: 50px;
}
.contactname{
    text-align: center;
    padding-right: 0px;
    padding-top: 30px;
}
.contactname h1{
    font-size: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: -20px;
    width: 90%;

}
.contactname h3{
    color: rgb(148, 147, 147);
    font-size: 16px;
    width: 90%;
    padding-left: -30px;
}
input{
    font-size: 40px;
    border-radius: 6px;
    margin-top: 20px;
    margin-left: 30px;
    padding: 15px;
    border: none;
    
}
input::placeholder{
    color: gray;
    font-family: cursive;
    font-size: 20px;
    padding: 10px;
}
.inp{
    display: flex;
    margin-left: 60px;
}
.msg input{
    height: 35.5vh;
}
.buttn{
    padding: 25px;
    color: white;
    font-size: 18px;
    background-color: rgba(51, 116, 236, 0.555);
    border: none;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 5px;
    margin-top: 49px;
    margin-left: 40%;
    transition: 0.6s;
}
.buttn:hover{
   background-color: white;
   color: rgb(81, 140, 248);
   transition: 0.6s;
}
footer{
    margin: 20px;
}
.footer ul{
    padding: 30px 60px;
    display: inline;
    float: right;
}
.footer li a{
    color: rgb(4, 115, 218);
    font-size: 15px;
}
.footer li a:hover{
    color: rgb(115, 160, 243);
    text-decoration: underline;
}
footer h6{
    font-size: 15px;
    color: rgb(116, 114, 114);
    float: left;
    padding: 30px 60px;
}
@media only screen and (max-width: 375px){
    
    header{
        background-image: url(images/c-d-x-PDX_a_82obo-unsplash.jpg);
        background-color: rgb(46, 45, 45);
        background-blend-mode: overlay;
        background-size: 200%;
        background-attachment: fixed;
        width: 100%;
        background-repeat: no-repeat;
        border-bottom: 2px solid rgb(241, 203, 131);
        height: 80vh;
    
    }
    header h1{
        color: rgb(252, 193, 84);
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0 0 5px rgb(108, 117, 56);
        padding-left: 30px;
        padding-top: -50px;
    }
    header span{
        color: rgb(252, 248, 248);
        font-size: 53px;
    }
    nav{
        float: right;
        margin-top: -25px;
        margin-right: 60px;
    }
    li a{
        text-decoration: none;
        color: white;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        display: none;
    }
    .li a:hover{
        color: rgb(252, 175, 33);
    }
    .active{
        color: rgb(252, 175, 33);
    }
    nav ul li{
        display: inline;
        padding: 5px;
        margin-right: 30px;
    }
    .land{
        line-height: 50px;
    }
    .land h1{
        padding-top: 75px;
        padding-bottom: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 35px;
        color: rgb(204, 202, 202);
        text-align: center;
    }
    .land p{
        color: rgb(223, 221, 221);
        padding-top: 10px;
        padding: 5px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        line-height: 20px;
        font-size: 15px;
    }
    .btn{
        border: none;
        border: 1px solid white;
        border-radius: 20px;
        padding: 15px 55px;
        color: white;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(255, 217, 0);
        margin-top: 70px;
        margin-left: 75px;
        transition: 0.5s;
    }
    .btn:hover{
        color: rgb(189, 161, 7);
        background-color: #b6b2b2;
        transition: 0.7s;
        border: 0.5px solid orange;
    }
    /* header styling ends */

    /* About styling */
    .intro{
        /* background: red; */
    }
    .intro h1{
        text-align: center;
        color: rgb(250, 177, 41);
        text-shadow: 0 0 5px rgb(95, 93, 93);
        padding-top: 35px;
        width: 100%;
        font-size: 35px;
        margin-top: 40px;
        /* padding-left: 200px; */
        font-family: Arial, Helvetica, sans-serif;
    }
    .intro p{
        text-align: center;
        width: 100%;
        font-size: 12px;
        padding-left: 1px;
        padding-right: 1px;
        /* padding: 10px; */
        color: rgb(100, 99, 99);
        font-family: Arial, Helvetica, sans-serif;
        line-height: 25px;
        padding-top: 10px;
    }
    .intro-cards{
        display: block;
        align-items: center;
        margin-left: 50px;
        margin-top: 30px;
    }
    .img-cards img{
        width: 280px;
        box-shadow: 0 0 4px gray;
        border-radius: 3px;
        margin-top: 50px;
        align-items: center;
    }
    .img-cards .btn1{
        padding: 10px 40px;
        border: none;
        font-size: 14px;
        border-radius: 5px;
        color: white;
        transition: 0.4s;
        background-color: rgb(116, 205, 240);
    }
    .img-cards .btn1:hover{
        color: rgb(116, 205, 240);
        background-color: white;
        border: 1px solid rgb(116, 205, 240);
        transition: 0.4s;
        box-shadow: 0 0 5px rgb(116, 205, 240) ;
    }
    .img-cards .btn2{
        padding: 10px 40px;
        border: none;
        font-size: 14px;
        border-radius: 5px;
        color: white;
        transition: 0.4s;
        background-color: rgb(250, 224, 75);
    }
    .img-cards .btn2:hover{
        color: rgb(250, 224, 75);
        background-color: white;
        border: 1px solid rgb(250, 224, 75);
        transition: 0.4s;
        box-shadow: 0 0 5px rgb(250, 224, 75);
    }
    .img-cards .btn3{
        padding: 10px 40px;
        border: none;
        font-size: 14px;
        border-radius: 5px;
        color: white;
        transition: 0.4s;
        background-color: palevioletred;
    }
    .img-cards .btn3:hover{
        color: palevioletred;
        background-color: white;
        border: 1px solid palevioletred;
        transition: 0.4s;
        box-shadow: 0 0 5px palevioletred;
    }
    /* About styling end */

    .contact{
        background-image: url(images/elice-moore-E--AUpYXbjM-unsplash.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgba(36, 36, 37, 0.87);
        background-blend-mode: overlay;
        margin: 20px 0px 0px 0px;
    }
    .contactname{
        width: 100%;
        text-align: center;
        padding-right: 10px;
        padding-top: 20px;
        padding-left: 10px;
    }
    .contactname h1{
        font-size: 30px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    .contactname h3{
        color: rgb(180, 179, 179);
        font-size: 16px;
    }
    input{
        font-size: 40px;
        border-radius: 6px;
        margin-top: 20px;
        margin-left: 0px;
        padding: 0px;
        width: 260px;
        border: none;    
    }
    input::placeholder{
        color: gray;
        font-family: Arial, Helvetica, sans-serif ;
        font-size: 15px;
        padding: 6px;
    }
    .inp{
        display: block;
        margin-left: 5px;
        padding: 0px;
    }
    .msg input{
        height: 15vh;
        width: 260px;
    }
    .buttn{
        padding: 22px;
        color: white;
        font-size: 14px;
        background-color: rgb(43, 116, 253);
        border: none;
        padding-left: 32px;
        padding-right: 32px;
        border-radius: 5px;
        margin-top: -20px;
        margin-left: 100px;
        transition: 0.6s;
    }
    .buttn:hover{
    background-color: white;
    color: rgb(81, 140, 248);
    transition: 0.6s;
    }

    /* showcase styling starts */
    .show{
        display: block;
        width: 100%;
        margin-top: 50px;
    }
    .show img{
        width: 280px;
        height: 50vh;
        margin-left: 45px;
        margin-top: 30px;
        border-radius: 5px;
        /* box-shadow: 0 0 50px gray; */
        margin-right: 0px;
    }
    .show-text{
        width: 100%;
        padding-left: 0px;
        padding-top: 0px;
    }
    .show-text h2{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        width: 100%;
        text-align: center;
        color: rgb(116, 115, 115);
        padding-top: 30px;
    }
    .show-text p{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(131, 130, 130);
        line-height: 20px;
        font-size: 12px;
        text-align: justify;
        padding-left: 20px;
        width: 90%;
        padding-top: 10px;
    }
    .show-text .butn1{
        margin-top: 20px;
        width: 50%;
        padding: 10px 20px;
        font-size: 14px;
        border: 1px solid rgb(17, 17, 253);
        color: rgb(8, 8, 255);
        background-color: rgb(236, 234, 234);
        border-radius: 5px;
        transition: 0.5s;
        margin-left: 90px;
    }
    .show-text .butn1:hover{
        background-color: rgb(93, 93, 247);
        color: white;
        /* border: none; */
        transition: 0.5s;
        box-shadow: 0 0 5px rgb(56, 56, 56);
    }
    .show-reverse{
        display: flex;
        width: 100%;
        margin-top: 50px;
        flex-direction: column-reverse;
    }
    .show-reverse img{
        width: 280px;
        height: 50vh;
        margin-left: 45px;
        margin-top: 30px;
        border-radius: 5px;
        box-shadow: 0 0 5px gray;
    }
    .show-reverse-text{
        width: 100%;
        padding-left: 0px;
        padding-top: 0px;
    }
    .show-reverse-text h2{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        padding-left: 65px;
        width: 80%;
        text-align: justify;
        color: rgb(102, 101, 101);
        padding-top: 30px;
    }
    .show-reverse-text p{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(131, 130, 130);
        line-height: 20px;
        font-size: 12px;
        /* text-align: center; */
        padding-left: 20px;
        width: 90%;
        padding-top: 10px;
    }
    .show-reverse-text .butn1{
        margin-top: 20px;
        width: 50%;
        padding: 10px 20px;
        font-size: 14px;
        border: 1px solid rgb(17, 17, 253);
        color: rgb(8, 8, 255);
        background-color: rgb(236, 234, 234);
        border-radius: 5px;
        transition: 0.5s;
        margin-left: 90px;
    }
    .show-reverse-text .butn1:hover{
        background-color: rgb(93, 93, 247);
        color: white;
        /* border: none; */
        transition: 0.5s;
        box-shadow: 0 0 5px rgb(56, 56, 56);
    }
    div.img {
        margin: 0px;
        margin-left: 30px;
        background-color: white;
        width: 100%;
        font-size: 20px;
        display: flex;
        flex-wrap: wrap;
    }	
    div.img img {
        width: 260px;
        height: auto;
        margin-right: 0px;
        margin-left: 25px;
        border-radius: 10px;
    }
    .pad{
        margin-top: 30px;
    }
    .align{
        width: 90%;
    }
    div.describ {
        /* padding: 10px; */
        text-align: center;
        width: 100%;
        padding-top: 20px;
    }
    .describ h3{
        color: rgb(94, 93, 93);
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 0px;
        width: 100%;
    }
    .describ button{
        width: 100%;
        margin-top: 10px;
        margin-left: -13px;
        padding: 10px 0px;
        color: rgb(134, 133, 133);
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 7px;
        border: none;
        font-size: 15px;
        color: rgb(43, 43, 250);
        border: 1px solid rgb(87, 87, 253);
        transition: 0.5s;
    }
    .describ button:hover{
        background-color: rgb(156, 188, 248);
        border: rgb(167, 167, 250);
        color: white;
        box-shadow: 0 0 8px rgb(76, 76, 250);
        transition: 0.5s;
    }
    footer{
        margin: 0px;
        width: 100%;
        /* background-color: red; */
    }
    .footer ul{
        padding: 30px 0px;
        display: none;
    }
    .footer li a{
        color: rgb(218, 4, 172);
        font-size: 15px;
        display: none;
    }
    .footer li a:hover{
        color: rgb(115, 160, 243);
        text-decoration: underline;
    }
    footer h6{
        text-align: center;
        /* padding-left: 50px ;*/
        width: 70%;
        font-size: 15px;
        color: rgb(243, 57, 197);
    }
}